@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

body,
html {
  font-family: 'Raleway', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #090e16;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
}

html {
  overflow-x: visible;
}
